@import "shared/styles/base/_variables.scss";

.card-header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: -0.2rem -0.5rem 0 -0.5rem;
}

.card-header-border-down {
  border-radius: 10px;
  margin: -0.2rem -0.5rem -0.9rem -0.5rem;
}

.alert {
  color: black;
  margin: -0.2rem -0.5rem 0 -0.5rem;
}

.alert-border-up {
  border-bottom: 2px solid $light-green;
}

.alert-border-down {
  border-bottom: 2px solid $medium-green;
}
